<!DOCTYPE html>
<html lang="en">

<head>
<<<<<<< HEAD
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auxilium 2025</title>
    <link rel="stylesheet" href="./static/styles.css">
    <link rel="icon" href="./static/logo.ico">
=======
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <% if (req.session.erro){ %>
  <title>Error 404</title>
  <% } else { %>
  <title>Auxilium 2025</title>
  <% } %>
  <link rel="stylesheet" href="./static/styles.css">
  <link rel="icon" href="./static/logo.ico">
>>>>>>> MariaClara
</head>