<menu>
  <header>
    <nav>
      <ul>
        <!-- <img src="logo.png"> -->
        <li><a href="/campanhas">Campanhas</a></li>
        <li><a href="">Como ajudar</a></li>
        <li><a href="">Doações</a></li>
        <li><a href="">Contato</a></li>
        <% if(req.session.cadastro) {%>
        <li><a href="/login">Contato</a></li>
        <% } %>
      </ul>
    </nav>
  </header>
</menu>
