<menu>
  <header>
    <nav>
      <ul>
        <li><a href="/info">Sobre nós</a></li>
        <li><a href="/Ranking">Ranking Geral </a></li>
       <% if (req.session.loggedin) { %>
        <li><a href="/campanhas"> Outras Campanhas</a></li>
        <li><a href="/logout">Sair</a></li>
        <% } %>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>
  </header>
</menu>
