<menu>
    <header>
      <nav>
        <ul>
          <li><a href="/login">LOGAR</a></li>
          <li><a href="/info">SAIBA MAIS</a></li>
          <li><a href="/doar">DOAR</a></li>
          <li><a href="/ranking">TABELA DE DOAÇÕES</a></li>
        </ul>
      </nav>
    </header>
  </menu>