<option value="M1A">M1A</option>
<option value="M1C">M1C</option>
<option value="M1F">M1F</option>

<option value="MIH">MIH</option>
<option value="MII">MII</option>
<option value="MIIA">MIIA</option>

<option value="M3A">M3A</option>
<option value="M3B">M3B</option>
<option value="M3D">M3D</option>

<option value="T1A">T1A</option>
<option value="T1B">T1B</option>
<option value="T1C">T1C</option>
<option value="T1D">T1D</option>
<option value="TIIA">TIIA</option>
<option value="T1FB">T1FB</option>

<option value="T3F">T3F</option>
<option value="T3FA">T3FA</option>
<option value="T2FC">T2FC</option>

<option value="I1F">I1F</option>
<option value="I1FA">I1FA</option>
<option value="I1HS">I1HS</option>
<option value="I1HSB">I1HSB</option>
<option value="I1E">I1E</option>
<option value="I2HSA">I2HSA</option>

<option value="N1I">N1I</option>
<option value="N3F">N3F</option>
