<%- include("../partials/head") %>

<h2 class="titulo-index">Obrigado pela doação!</h2>

<a href="/tabela_brinquedo"><button>Ver Tabela de Doações</button></a>
<a href="/doar_novamente"><button type="submit">Doar novamente</button></a>
<a href="/ranking"><button type="submit">Ranking Geral</button></a>
<a href="/"><button>Voltar para página inicial</button></a>

<%- include("../partials/footer") %>
