<%- include("../partials/head"); %>

<%- include("../partials/menu") %>

<div class="login">

  <div class="box-index">
    <h1>Auxilium</h1>
    <p>Projeto social</p>
  </div>

  <main>
    <form action="/cadastro" method="POST" class="formItens">
      <Label>Nome Completo:</Label>
      <input type="text" name="nome_completo" required>
      <Label>Email:</Label>
      <input type="email" name="email" required>
      <Label>Senha:</Label>
      <input type="password" name="senha" required>
      <Label>Confirmar senha:</Label>
      <input type="password" name="confirmar_senha" required>
      <select name="tipo" required>
        <option value="">Selecione o tipo</option>
        <option value="comum">Comum</option>
        <option value="docente">Docente</option>
      </select>
      <button type="submit">Cadastrar</button>
    </form>
    <a href="/"><button type="submit">Voltar</button></a>
  </main>
</div>

<%- include("../partials/footer") %>

</html>