<!DOCTYPE html>
<html lang="pt-br">

<%- include("../partials/head") %>

<body class="desfocar">
  <center>
    <main>
      <br><br><br>
      <h2 style="text-align: center; margin-bottom: 20px;">Só um docente pode entrar na página de doação</h2><br><br><br><br><br><br>
      <div class="formItens">
        <a href="/"><button type="submit">Voltar</button></a>
      </div>
    </main><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <%- include("../partials/footer") %>
</body>

</html>