<%- include("../partials/head") %>

<body>
  <main>
    <h2>Só um docente pode entrar na página de doação</h2>
    <div class="formItens">
      <a href="/"><button type="submit">Voltar</button></a>
    </div>
  </main>

  <%- include("../partials/footer") %>
</body>

</html>

<!-- style="text-align: center; margin-bottom: 20px;" -->