<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

<body class="desfocar">
    <center>
        <div class="page-box">
            <br><br>
            <h1>Doar</h1>
            <main>
                <form action="/doar" method="POST" class="formItens">
                    <table>
                        <tr>
                            <td>
                                <select name="doacao" required>
                                    <option value="" disabled selected>Selecione a campanha que você deseja</option>
                                    <option >Alimentos não perecíveis</option>
                                    <option >Ração</option>
                                    <option >Roupas</option>
                                    <option >Brinquedos</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select name="item" required>
                                    <option value="" disabled selected>Selecione qual item você doará</option>
                                    <option value="5">Arroz 1kg</option>
                                    <option value="10">Arroz 5kg</option>
                                    <option value="5">Óleo</option>
                                    <option value="5">Farinha de trigo 1kg</option>
                                    <option value="5">Macarrão 500g</option>
                                    <option value="5">Sal 1kg</option>
                                    <option value="5">Açúcar 1kg</option>
                                    <option value="10">Açúcar 5kg</option>
                                    <option value="2">Ração de cachorro 500g</option>
                                    <option value="5">Ração de cachorro 1kg</option>
                                    <option value="10">Ração de cachorro 5kg</option>
                                    <option value="20">Ração de cachorro 10kg</option>
                                    <option value="2">Ração de gato 500g</option>
                                    <option value="5">Ração de gato 1kg</option>
                                    <option value="10">Ração de gato 5kg</option>
                                    <option value="20">Ração de gato 10kg</option>
                                    <option value="5">Sachê</option>
                                    <option value="5">Roupas usadas de verão</option>
                                    <option value="5">Roupas usadas de inverno</option>
                                    <option value="10">Roupas novas</option>
                                    <option value="5">Brinquedos usados</option>
                                    <option value="10">Brinquedos novos e embalados</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="number" name="quantidade" placeholder="Quantidade" min="1" max="99" required></td>
                        </tr>
                        <tr>
                            <td><input type="date" name="data" placeholder="Data" required></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="aluno" placeholder="Nome do aluno" required></td>
                            </tr>
                        <tr>
                            <td>
                                <select name="codigo_sala" required>
                                    <option value="" disabled selected>Selecione a turma</option>
                                    <option>M1A</option>
                                    <option>M3A</option>
                                    <option >M3B</option>
                                    <option >M1C</option>
                                    <option >M3D</option>
                                    <option >M1F</option>
                                    <option >M1I</option>
                                    <option >M1IA</option>
                                    <option >M1H</option>
                                    <option >T1A</option>
                                    <option >T1B</option>
                                    <option >T1C</option>
                                    <option >T1D</option>
                                    <option >T1IA</option>
                                    <option >T1I</option>
                                    <option >T3FA</option>
                                    <option >T2FC</option>
                                    <option >T3F</option>
                                    <option >T1FB</option>
                                    <option >I1F</option>
                                    <option >I1FA</option>
                                    <option>I1HS</option>
                                    <option >I1HSB</option>
                                    <option >I1E</option>
                                    <option >I2HSA</option>
                                    <option >N1I</option>
                                    <option >N3F</option>
                                </select>
                            </td>
                        </tr>    
                        <tr>
                            <td>
                                <select name="docente" required>
                                    <option value="" disabled selected>Selecione o docente referencial</option>
                                    <option>William</option>
                                    <option>Fabio</option>
                                    <option >Epaminondas</option>
                                    <option >Rogério Poleto</option>
                                    <option >Waldemar</option>
                                    <option >Alcindo</option>
                                    <option >Bruna</option>
                                    <option >Lucas/Gabriela</option>
                                    <option >Izaias</option>
                                    <option >Luciano</option>
                                    <option >Denis</option>
                                    <option >Lucas/José Augusto</option>
                                    <option >Alex</option>
                                    <option >Fernando</option>
                                    <option >Vitor</option>
                                    <option >Bruno</option>
                                    <option >Sergio</option>
                                    <option >Alex Penteado</option>
                                    <option>Maycon</option>
                                    <option >Ricardo</option>
                                    <option >João Flávio</option>
                                    <option >Ana</option>
                                    <option >Marilia</option>
                                    <option >Evandro</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <button type="submit">Confirmar</button><br><br>
                </form>
            </main>
        </div>
        <a href="/"><button type="submit">Voltar ao início</button></a><br>
    </center>
    <%- include("../partials/footer") %>
</body>

</html>