<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Doar Novamente</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body class="doar-novamente">
    >

    <div class="container">
        <h1>Escolha uma campanha para doar novamente</h1>

        <div class="cards">

            <a href="/doar_alimento" class="card">
                <h2> Doar Alimento</h2>
            </a>

            <a href="/doar_pet" class="card">
                <h2> Doar Item Pet</h2>
            </a>

            <a href="/doar_agasalho" class="card">
                <h2> Doar Agasalho</h2>
            </a>

            <a href="/doar_brinquedo" class="card">
                <h2> Doar Brinquedo</h2>
            </a>

        </div>

        <br><br>
        <a href="/" class="voltar">Voltar ao início</a>
    </div>

</body>
</html>
