<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Erro 410</title>
  <link rel="stylesheet" href="./static/styles.css">
</head>

<!-- <title>Error 410</title> -->

<body class="erro">
  <!-- <img src='./' /> -->
  <a href="/"><button type="submit">HOME</button></a>
</body>

</html>