<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>


<%- include("../partials/menu") %>
<body>
  <% if (nome) { %>
  <div class="nome">
    <p style="color:#070707; " class="nome">
      <%= nome_completo %>
    </p>
    <a href="/logout"> <button type="submit">SAIR</button></a>
  </div>
  <% } %>
  <!-- <a href="/login"><button>LOGAR</button></a>
  <a href="/info"><button>SAIBA MAIS</button></a>
  <a href="/doar"><button>DOAR</button></a>
  <a href="/ranking"><button>TABELA DE DOAÇÕES</button></a> -->


  <%- include("../partials/footer") %>
</body>

</html>