<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

<%- include("../partials/menu") %>

<body>

  <div class="box-index">
    <h1>Auxilium</h1>
    <p>Seja Bem-Vindo</p>
    <a href="/login"><button type="submit">Entrar</button></a>
    <a href="/cadastro"><button type="submit">Cadastrar</button></a>
  </div>

  <%- include("../partials/footer") %>
</body>

</html>