<!DOCTYPE html>
<html lang="pt-br">
  <body>
    <% if (nome) { %>
      <div class="nome">
        <p style="color:#070707;">
          Bem-vindo, <%= nome %>!
        </p>
        <a href="/logout"><button type="submit">SAIR</button></a>
      </div>
    <% } %>

    <h1>Bem-vindo ao Sistema de Doações!</h1>
  </body>
</html>
