<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>


<%- include("../partials/menu") %>
<body>
  <% if (nome) { %>
  <div class="nome">
    <p style="color:#070707; " class="nome">
      <%= nome %>
    </p>
    <a href="/logout"> <button type="submit">SAIR</button></a>
  </div>
  <% } %>

  <%- include("../partials/footer") %>
</body>

</html>