<%- include("../partials/head") %>

<%- include("../partials/menu") %>

<body>
  <!-- <img src='./static/info.jpg' /> -->
  <!-- <a href="/"><button>Voltar</button></a> -->

  <section id="#cards"> 
    <div class="info">
       <!-- <img src="./imagens/cinza.png" alt="Imagem 2" class="card-imagem"> -->
       <div class="card-conteudo">
           <h2 class="card-titulo">Card</h2>
           <p class="card-descricao">Segundo card com estrutura idêntica mas conteúdo diferente.</p>
       </div>
   </div>

   <div class="info">
       <!-- <img src="./imagens/cinza.png" alt="Imagem 2" class="card-imagem"> -->
       <div class="card-conteudo">
           <h2 class="card-titulo">Card</h2>
           <p class="card-descricao">Segundo card com estrutura idêntica mas conteúdo diferente.</p>
       </div>
   </div>

   <div class="info">
       <!-- <img src="./imagens/cinza.png" alt="Imagem 2" class="card-imagem"> -->
       <div class="card-conteudo">
           <h2 class="card-titulo">Card</h2>
           <p class="card-descricao">Segundo card com estrutura idêntica mas conteúdo diferente.</p>
       </div>
   </div>

   <div class="info">
       <!-- <img src="./imagens/cinza.png" alt="Imagem 2" class="card-imagem"> -->
       <div class="card-conteudo">
           <h2 class="card-titulo">Card</h2>
           <p class="card-descricao">Segundo card com estrutura idêntica mas conteúdo diferente.</p>
       </div>
   </div>
</section>

  <%- include("../partials/footer") %>
</body>

</html>