<%- include("../partials/head") %>

<%- include("../partials/menu") %>

<body>
  <div class="box-index">
    <img src='/static/info.png' />
    <!-- <a href="/"><button>Voltar</button></a> -->
  </div>
  <!-- <section id="#cards"> 
    <div class="info">
       <div class="card-conteudo">
           <h2 class="card-titulo">Card</h2>
           <p class="card-descricao">Segundo card com estrutura idêntica mas conteúdo diferente.</p>
       </div>
   </div>

   <div class="info">
       <div class="card-conteudo">
           <h2 class="card-titulo">Card</h2>
           <p class="card-descricao">Segundo card com estrutura idêntica mas conteúdo diferente.</p>
       </div>
   </div>

   <div class="info">
       <div class="card-conteudo">
           <h2 class="card-titulo">Card</h2>
           <p class="card-descricao">Segundo card com estrutura idêntica mas conteúdo diferente.</p>
       </div>
   </div>

   <div class="info">
   
       <div class="card-conteudo">
           <h2 class="card-titulo">Card</h2>
           <p class="card-descricao">Segundo card com estrutura idêntica mas conteúdo diferente.</p>
       </div>
   </div>
</section> -->

  <!-- <img src="./imagens/cinza.png" alt="Imagem 2" class="card-imagem"> -->

  <%- include("../partials/footer") %>
</body>

</html>