<%- include("../partials/head") %>

<%- include("../partials/menu") %>

<body>
  <img src='./static/info.jpg' />
  <a href="/"><button>Voltar</button></a>

  <%- include("../partials/footer") %>
</body>

</html>