<%- include("../partials/head") %>

<%- include("../partials/menu") %>

<div class="login">

  <!-- <%# if (mensagem) { %>
  <p style="color:#000000;"><%#= mensagem %></p>
  <%# } %> -->

  <div class="box-index">
    <h1>Ja tem uma conta?</h1>
  </div>

  <main>
    <h1>login</h1>
    <form action="/" method="POST" class="formItens">
      <Label>Email:</Label>
      <input type="email" name="email" required>
      <Label>Senha:</Label>
      <input type="password" name="senha" required>
      <select name="tipo" required>
        <option value="">Selecione o tipo</option>
        <option value="docente">Comum</option>
        <option value="docente">Docente</option>
      </select>
      <button type="submit">Entrar</button>
    </form>
  </main>
</div>


<%- include("../partials/footer") %>


</html>