<%- include("../partials/head") %>

<body>
  <form action="/post-create" method="post">
    <h2 class="titulo-index">Obrigado pela doação!</h2>
    <img src='./static/arrecadação.jpeg' />
    <a href="/"><button type="submit">Voltar para página inicial</button></a>
    <a href="/doar"><button type="submit">Doar novamente</button></a>
    <a href="/ranking"><button type="submit">Tabela de Doações</button></a>
  </form>

  <%- include("../partials/footer") %>
</body>

</html>