<%- include("../partials/head") %>

<body>
    <main>
      <%- include("../partials/posttable"); %>
    </main>
    <a href="/"><button type="submit">Voltar</button></a>

      <%- include("../partials/footer") %>
</body>

</html>